


                @model IEnumerable<CDN_MVC.Models.UserViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Freelancers</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Create New User</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>User ID</th>
                <th>User Name</th>
                <th>Phone Number</th>
                <th>Skillsets</th>
                <th>Hobby</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Username)</td>
                    <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.Skillsets)</td>
                    <td>@Html.DisplayFor(modelItem => item.Hobby)</td>
                    <td>
                        <a href="@Url.Action("Edit", "User", new { id = item.Id })" class="btn btn-sm btn-warning">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="@Url.Action("Delete", "User", new { id = item.Id })" class="btn btn-sm btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
